@mixin gc-card-bg {
  // background: var(--primary-very-low);
  //
  // @media (prefers-color-scheme: light) {
  //   background: var(--header_background);
  // }
  background: var(--primary);
}

:root {
  --gc-border-radius: 10px;
  --gc-hover-shadow: 4px 4px var(--tertiary-high);
  --gc-color-gc: #3E6957; /*#75bdad;*/
  --gc-color-blue: #e5f8ff;
  --gc-color-square-gradient: linear-gradient(
    4deg,
    ter rgba(143, 236, 202, 0.29) 55%,
    rgba(74, 247, 255, 0.08) 100%
  );
}

$color-square-gradient: linear-gradient(
  4deg,
  rgba(143, 236, 202, 0.29) 55%,
  rgba(74, 247, 255, 0.08) 100%
);
$color-square-webkit-gradient: -webkit-linear-gradient(
  4deg,
  rgba(143, 236, 202, 0.29) 55%,
  rgba(74, 247, 255, 0.08) 100%
);

@font-face {
  font-family: ABCMaxiRound;
  font-weight: 300;
  src: url($ABCMaxiRound-Light) format('opentype')
}

@font-face {
  font-family: ABCMaxiRound;
  font-weight: 400;
  src: url($ABCMaxiRound-Regular) format('opentype')
}

@font-face {
  font-family: ABCMaxiRound;
  font-weight: 700;
  src: url($ABCMaxiRound-Bold) format('opentype')
}

@font-face {
  font-family: Inter;
  font-weight: 300;
  src: url($Inter-Light) format('opentype')
}

@font-face {
  font-family: Inter;
  font-weight: 400;
  src: url($Inter-Regular) format('opentype')
}
